[[source]]
url = 'https://pypi.python.org/simple'

#[requires]
#python_version = '3.x' # Note: not possivle, use pipenv install --three --dev

[packages]
smbus2 = '*'

[dev-packages]
mock = '*'
pylint = '*'
pytest = '*'
snapshottest = '*'
rope = '*'
yapf = '*'
